# File required to implement default reviewers
# Reference:
# - https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
# - https://help.github.com/en/github/administering-a-repository/enabling-required-reviews-for-pull-requests
# Members of this team will added as default reviewers to all PRs
*      @dh-io-tdms/dh-io-tdms-admin @dh-io-tdms/dh-io-tdms-reviewers
